## Hello World

Basic `Python` for Data Analyst(Beginner)

```python
##code
print("hello world")
def hello():
  print("hello")
```

- variable
- data type
- data structure
- control flow
- fuction

In [ ]:
## basic calculation
print(1 + 1)
print (3 * 2)

2
6

In [ ]:
(2 + 3) * 2

10

In [ ]:
## flooe division
9.25//2

4.0

In [ ]:
5 % 5

0

In [ ]:
## prime number
pow(2,5)

32

In [ ]:
2 ** 5

32

In [ ]:
## variable
x = 100
y = 200
print(x+y)

300

In [ ]:
my_university_name = "Kasetsart"

In [ ]:
print(my_university_name)

Kasetsart

In [ ]:
del my_university_name

In [ ]:
## replace value
x = 100
x = 200
print(x)

200

In [ ]:
x, y, z = 1, "PP", 3
print(x,y,z)

1 PP 3

In [ ]:
# R for small data project, prototyping
# Python for larger data, software, data science, ai, app

# R is statistical language vs. Python is a general language

In [ ]:
# R is specialist (stats)
# Python is genaralist (app, data, spftware, ai)

In [ ]:
# variable
my_name = "PP"
age = 24
frineds = ["dome", "ploy", "jenny"] # list
fav_food = ("hotdog", "noodle", "cake") # tuple

In [ ]:
frineds[0] = "sitipat"

In [ ]:
frineds

['sitipat', 'ploy', 'jenny']

In [ ]:
fav_food[0]

'hotdog'

In [ ]:
## data types
## int, float, str, bool
age = 25
type(age) #int

int

In [ ]:
gpa = 2.99
type(gpa) #float

float

In [ ]:
name = "PP"
type(name) #str

str

In [ ]:
result = age < 40
print(result, type(result))

True <class 'bool'>

In [ ]:
my_bool = (True, False, True)
print(my_bool, type(my_bool))

(True, False, True) <class 'tuple'>

In [ ]:
## convert type
str(36)

'36'

In [ ]:
int("36")

36

In [ ]:
float(36)

36.0

In [ ]:
print(bool(0),bool(1))
## True = 1, False = 0

False True

## Working with String

In [ ]:
## fstring => format string
name = "PP"
gpa = 2.48

"PP graduates from kasetsart university with gpa 2.48" # hardcode
f"{name} graduates from KU with gpa {gpa}"

'PP graduates from KU with gpa 2.48'

In [ ]:
## long string
long_str = """ I love McDonald's


I love Python
Planning to have it for Lunch
Very Cool!
"""

In [ ]:
long_str

" I love McDonald's\n\n\nI love Python\nPlanning to have it for Lunch\nVery Cool!\n"

In [ ]:
## function vs. method
text = "a duck walks into a bar"
len(text)
print(text.upper())
print(text)

A DUCK WALKS INTO A BAR
a duck walks into a bar

In [ ]:
## method is a function created specifically to an object
## string method
text.upper()

'A DUCK WALKS INTO A BAR'

In [ ]:
text.replace("duck", "lion")

'a lion walks into a bar'

In [ ]:
text.count("a")

4

In [ ]:
text.split(" ")

['a', 'duck', 'walks', 'into', 'a', 'bar']

In [ ]:
# replace new value
text = text.replace("duck", "cat")
text.split(" ")

['a', 'cat', 'walks', 'into', 'a', 'bar']

In [ ]:
result = text.split(" ")
result

['a', 'cat', 'walks', 'into', 'a', 'bar']

In [ ]:
" ".join(result)

'a cat walks into a bar'

In [ ]:
# index starts with 0
text = "python"
text[0]

'p'

In [ ]:
#slice text
text[0:1]

'p'

In [ ]:
text[2:]

'thon'

In [ ]:
#text + text
"Python" + " is the best" + " and easy," + " I love it!"

'Python is the best and easy, I love it!'

In [ ]:
"Hello World " * 4

'Hello World Hello World Hello World Hello World '

In [ ]:
"Python" [2:4]

'th'

In [ ]:
"Python"[::-1]

'nohtyP'

In [ ]:
"I am learning Python today"[0:15:2]

'Ia erigP'

In [ ]:
## String is immytable, no support item assigment
text = "python"
text[1:]
print("C" + text[1:])

Cython

## Data Structure
1. List
2. Tuple
3. Dictionary
4. Set

In [ ]:
## list, ordered, mutable object
shopping_list = ["egg", "milk", "vitamin", "bread"]

In [ ]:
len(shopping_list)

4

In [ ]:
shopping_list[-3]

'milk'

In [ ]:
shopping_list[0] = "egg egg"

In [ ]:
shopping_list[2] = "lactasoy"

In [ ]:
shopping_list

['egg egg', 'milk', 'lactasoy', 'bread']

In [ ]:
# list method
shopping_list.append("butter")
len(shopping_list)

5

In [ ]:
shopping_list.pop()
shopping_list

['egg egg', 'milk', 'lactasoy', 'bread']

In [ ]:
shopping_list.remove("milk")

In [ ]:
# create a new list
shopping = ["milk", "bread", "egg", "creamchesses"]

In [ ]:
shopping.sort(reverse = False)
print(shopping) # sort string

['bread', 'creamchesses', 'egg', 'milk']

In [ ]:
shopping.append("straberry")
shopping

['bread', 'creamchesses', 'egg', 'milk', 'straberry']

In [ ]:
shopping.insert(1, "orange") #inplace
print(shopping)

['bread', 'orange', 'creamchesses', 'egg', 'milk', 'straberry']

In [ ]:
["orange", "orange", "orange", "egg"].count("orange")

3

In [ ]:
#homework: summarise common list method, string method in notion (#inplace)

### Working with List

In [ ]:
## list + list
["item1", "item2"] + ["item3", " item4"]

['item1', 'item2', 'item3', ' item4']

In [ ]:
## loop through shopping list
for item in shopping:
    print(("I have to buy " + item).upper())
    print("-" * 20)

I HAVE TO BUY MILK
--------------------
I HAVE TO BUY BREAD
--------------------
I HAVE TO BUY EGG
--------------------
I HAVE TO BUY CREAMCHESSES
--------------------

In [ ]:
for item in shopping:
    if len(item) >= 4:
        continue
    else:
        print("I need to buy " + item)

I need to buy egg

In [ ]:
## average revenue per user (ARPU)
spending = [500, 1200, 800, 300, 900]
for spend in spending:
    if spend >= 800:
        print("high spender")
    else:
        print("low spender")

low spender
high spender
high spender
low spender
high spender

In [ ]:
# list comprehension in python
scores = [80, 90, 75, 60, 59, 82]
for score in scores:
    if score > 80:
        print(score,"passed")
    else:
        print(score, "failed")

In [ ]:
# example
scores = [80, 90, 75, 60, 59, 82]

new_scores = [score+5 for score in scores]

print(grades)

In [ ]:
grades = ["Pass" if score >= 80
          else "F" for score in scores]
print(grades)

### tuple, ordered, immutable

In [ ]:
### tuple, ordered, immutable
toy, jane, ann = 36, 29, 32
print(toy, jane, ann)

36 29 32

In [ ]:
names = ("pp", "jane", "dome")
names.index("jane")

1

In [ ]:
for name in names:
    print(f"hello! {name.capitalize()}")

hello! Pp
hello! Jane
hello! Dome

In [ ]:
## recap list
complex_list = [
    25, "The Dark Knight",
    [1,2,3,4,5],
    ("hello","sawasdee","sweet pea")
]

In [ ]:
complex_list[3][1]

'sawasdee'

### dictionary
    key-value pair (similar to json)

In [ ]:
# key concept is immutable
movie = {
    "title": "The Dark Knight",
    "release_year": 2008,
    "genre": ["Action", "Drama"],
    "rating": 9.0,
    "isPrint": True
}

movie

{'title': 'The Dark Knight',
 'release_year': 2008,
 'genre': ['Action', 'Drama'],
 'rating': 9.0,
 'isPrint': True}

In [ ]:
customer_01 ={
    "name": "john wick",
    "age": 50,
    "fav_movies":["dead pool", "inside out", "lion king"],
    "gpa":3.41
}

customer_01

{'name': 'john wick',
 'age': 50,
 'fav_movies': ['dead pool', 'inside out', 'lion king'],
 'gpa': 3.41}

In [ ]:
## dictionary is unordered, mutable
customer_01["name"].upper()

'JOHN WICK'

In [ ]:
customer_01["fav_movies"][0::2]

['dead pool', 'lion king']

In [ ]:
# dictionary method
list(customer_01.keys())
tuple(customer_01.values())

('john wick', 50, ['dead pool', 'inside out', 'lion king'], 3.41)

In [ ]:
for item in list(customer_01.items()):
    print(item[0])

name
age
fav_movies
gpa

In [ ]:
## create new key
customer = customer_01
customer["city"] = "Bangkok"
customer["nationality"] = "American"

customer

{'name': 'john wick',
 'age': 50,
 'fav_movies': ['dead pool', 'inside out', 'lion king'],
 'gpa': 3.41,
 'city': 'Bangkok',
 'nationality': 'American'}

In [ ]:
## delete key
del customer['gpa'] #inplace

customer.pop("city") #use method

customer

{'name': 'john wick',
 'age': 50,
 'fav_movies': ['dead pool', 'inside out', 'lion king'],
 'nationality': 'American'}

In [ ]:
# update value
customer["name"] = "Davis Beckham"
customer

{'name': 'Davis Beckham',
 'age': 50,
 'fav_movies': ['dead pool', 'inside out', 'lion king'],
 'nationality': 'American'}

In [ ]:
## the last data structure: set of values
# set is uesd to find distinct/ unique values
set([1,2,3,4,5,5,5,5,5])

{1, 2, 3, 4, 5}

In [ ]:
set(["orange","banana","orange"])

{'banana', 'orange'}

In [ ]:
## set operation
## union and intersection
mary = {"orange","apple"}
toy = {"apple", "durian"}

mary.union(toy)

{'apple', 'durian', 'orange'}

In [ ]:
mary | toy

{'apple', 'durian', 'orange'}

In [ ]:
mary & toy

{'apple'}

In [ ]:
mary - toy

{'orange'}

## Recap Data Structures

1. list
2. tuple
3. dictionary #key-value pair
4. set

## Function

user defined function

In [ ]:
## the most important thing why we write functions because they are reusable
def hello():
    print("hello world")

In [ ]:
hello()

hello world

In [ ]:
def hello2(name):
    print("hello " + name)

hello2("PP")

hello PP

In [ ]:
## can we get input from a user?
def greeting():
    username = input("what's your name")
    result = f"Hi {username}!"
    print(result)
    action = input("what are you going to do today?")
    print(f"You're going to {action}. Great!")

In [ ]:
greeting()

In [ ]:
user_age = int(input("How old are you: "))
print(user_age, typr(user_age))

In [ ]:
## function can have more than one parameters
def my_power(base=2, power=3):
    return base ** power

In [ ]:
result = my_power(3,3)
print(result)

27

In [ ]:
my_power(power=2, base=9) ## 9**2

81

## Control Flow
1. if
2. for
3. while

In [ ]:
# ## lambda
# def double(num):
#     return num*2
## lamnbda
double = lambda num: num*2

double(20)

40

In [ ]:
hello = lambda name: "hello " + name

hello("PP")

'hello PP'

In [ ]:
def grading(score):
    """
    input: score is a numeric number
    output: grade passed or failed
    """
    if score >=80:
        return "Passed"
    else:
        return "Failed"


grading(79)

'Failed'

In [ ]:
## multiple if else
# running Python code from high to low

def full_grading(score):
    if score >= 80:
        return "A"
    elif score >= 70:
        return "B"
    elif score >= 60:
        return "C"
    elif score >= 50:
        return "Retry the exam again"

full_grading(59)

'Retry the exam again'

In [ ]:
# if multiple conditions
# morning weekday -> cereal
# morning weekend -> hamburger
# else -> fasting

time = "morning"
day = "weekend"

if time == "morning" and day == "weekday":
    print("I'm eating cereal")
elif time == "morning" and day == "weekend":
    print("I'm eating hamburger")
else:
    print("No eating, I'm fasting")

I'm eating hamburger

In [ ]:
## recap for loop
for item in ["apple", "orange", "banana", "grape"]:
    if len(item) > 5:
        print(item)

orange
banana

In [ ]:
## while loop
# while True do something
count = 0
while count < 5:
    print("hello world")
    count += 1

hello world
hello world
hello world
hello world
hello world

In [ ]:
## homework
## 1. revire methods (list, string)
## 2. create this function: pao ying chub

In [ ]:
x = 10
y = 3.14
z = "Hello"
text = "sweet pea"
my_string = "***Hello, world!***"

In [ ]:
text = "sweet pea"
text.find("e")

2

In [ ]:
my_string.strip("*")
print(my_string.strip("*"))

Hello, world!

In [ ]:
text = "hello, world!"
text.capitalize()
print(text) # not inplace

hello, world!

In [ ]:
# Joining a list of integers
numbers = [1, 2, 3, 4, 5]
", ".join(str(num) for num in numbers)
print(joined_numbers)  # Output: "1, 2, 3, 4, 5"

1, 2, 3, 4, 5